In [ ]:
This cell will be used as the project proposal.
Summary (description) of datasets:
The dataset players_data has 196 rows and 7 columns of observation, and has variables including (with statistics for applicable columns):
- age, the mean age is 21.14, the min age is 9.00 and the max age is 58.00
- subscribe (whether the player has subscribed to the game)
- name, the name of the surveyed player
- gender, the statistics for gender are: 1.02% agender, 18.88% female, 63.26% male, 7.65% non-binary, 0.51% other, 5.61% prefer not to say, and 3.06% two-spirited
- experience, the statistics are: beginner, amateur, regular, pro, and veteran in ascending order) 
- played_hours, mean is 5.84 hours, min is 0.00 hours, and max is 223.10 hours                                                                                           
Some issues can arise from the data, including:
- Some data from the gender column is "prefer not to say" which may pose problems when finding statistics of 
the player base as this takes up around 5.61 percent of the database
- Some data can be entered incorrectly, people may claim to be the level that they are not
- Measurement error in time played due to lag/error in the data collection regiment
The dataset sessions_data has 1535 rows and 5 columns, with variables including: 
- start_time, the time at which the session started
- end_time, the time at which the session ended
- original_start_time, the miniscule time (very accurate) at which the session started
- original_end_time, the miniscule time (very accurate) at which the session ended
This data has only numerical variables, therefore errors with technology (capturing minuscule times) and other network errors are 
only possible entry errors. I can also see that the original start and end time yield the same values, which may pose a problem
when modeling the data and could be explored deeper into wrangling it into a better form. 

I will address the broad question: We would like to know which "kinds" of players are most likely to contribute a large amount of data
so that we can target those players in our recruiting efforts.
I will then address a more specific question: Can the age and gender of the player predict the output played hours in the dataset players_data?
To find answers to this question, I can use visuals and predictor engines to find patterns and accurate predictions. To wrangle the data, I can isolate the player profile columns
(age and gender) and the played_hours column using select(), then I can remove any unknown entries such as "prefer not to say" in the gender column using filter(), 
as this data isnt contributing to our findings and only takes up around 5.61% of the data. We can also remove rows with NA for the age variable for the same reason. This specific
question will help determine which group of people to target in recruitment, which will make it easier to reach out to the most important crowd of people to maximize effiency in the 
recruitment process. We can use KNN regression to predict this variable, however the gender column must be turned into a numeric variable that corresponds to the gender of the predicted
player.

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [4]:
players_data <- read_csv("DATA/players.csv") |>
select(-hashedEmail)
sessions_data <- read_csv("DATA/sessions.csv") |>
select(-hashedEmail)
players_data
sessions_data

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe played_hours name      gender            Age
1   Pro         TRUE     30.3         Morgan    Male               9
2   Veteran     TRUE      3.8         Christian Male              17
3   Veteran    FALSE      0.0         Blake     Male              17
4   Amateur     TRUE      0.7         Flora     Female            21
5   Regular     TRUE      0.1         Kylie     Male              21
6   Amateur     TRUE      0.0         Adrian    Female            17
7   Regular     TRUE      0.0         Luna      Female            19
8   Amateur    FALSE      0.0         Emerson   Male              21
9   Amateur     TRUE      0.1         Natalie   Male              47
10  Veteran     TRUE      0.0         Nyla      Female            22
11  Veteran     TRUE      1.6         Lane      Female            23
12  Pro         TRUE      0.0         Daniela   Male              17
13  Beginner    TRUE      1.5         Sarah     Female            25
14  Amateur     TRUE      0.2         Thatcher  Male              22
15  Veteran     TRUE      0.0         Niamh     Non-binary        17
16  Amateur    FALSE      0.0         Quinlan   Male              22
17  Beginner    TRUE      0.0         Elodie    Female            17
18  Amateur     TRUE     48.4         Xander    Female            17
19  Amateur     TRUE      0.5         Marley    Male              17
20  Regular     TRUE      0.6         Ryker     Male              19
21  Regular     TRUE      0.3         Andy      Male              58
22  Amateur    FALSE      0.1         Anastasia Female            17
23  Beginner    TRUE      1.0         Leah      Male              17
24  Beginner    TRUE      0.0         Ren       Male              17
25  Amateur     TRUE      0.7         Hugo      Female            21
26  Regular     TRUE      0.6         Kendall   Female            28
27  Regular     TRUE      0.0         Iman      Male              17
28  Veteran    FALSE      0.0         Finn      Male              23
29  Amateur     TRUE      1.8         Luca      Male              23
30  Veteran    FALSE      0.1         Vivienne  Male              18
⋮   ⋮          ⋮         ⋮            ⋮         ⋮                 ⋮
167 Amateur    FALSE      1.0         Radwan    Male              26
168 Beginner   FALSE      0.3         Ariana    Female            17
169 Veteran     TRUE      0.1         Quinton   Male              17
170 Veteran    FALSE      0.1         Rocco     Male              17
171 Pro        FALSE      0.4         Lyra      Male              21
172 Beginner   FALSE      1.8         Amelia    Male              32
173 Veteran     TRUE      0.0         Saif      Agender           20
174 Regular    FALSE      0.0         Balthazar Male              50
175 Veteran     TRUE      0.0         Parker    Male              17
176 Amateur     TRUE      0.3         Joaquim   Male              17
177 Pro        FALSE      0.0         Jesse     Non-binary        17
178 Veteran    FALSE      2.7         Jamie     Non-binary        21
179 Amateur     TRUE      0.4         Charlie   Two-Spirited      17
180 Veteran     TRUE      0.1         Finnian   Non-binary        17
181 Amateur    FALSE      2.1         Sebastián Male              24
182 Amateur     TRUE      0.8         Hunter    Female            22
183 Pro        FALSE      0.2         Liam      Male              17
184 Amateur     TRUE     32.0         Sidney    Male              22
185 Pro        FALSE      1.7         Asher     Male              17
186 Regular    FALSE      0.1         Sam       Male              18
187 Veteran     TRUE      0.1         Gabriela  Female            44
188 Amateur     TRUE      0.0         Jasper    Male              17
189 Beginner    TRUE      0.0         Lina      Female            17
190 Amateur    FALSE      0.0         Orion     Male              17
191 Amateur     TRUE      0.0         Rhys      Male              20
192 Amateur     TRUE      0.0         Bailey    Female            17
193 Veteran    FALSE      0.3         Pascal    Male              22
194 Amateur    FALSE      0.0         Dylan     Prefer not to say 57
195 Amateur    FALSE      2.3         Harlow    Male              17
196 Pro         TRUE      0.2         Ahmed     Other             NA

     start_time       end_time         original_start_time original_end_time
1    30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2    17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3    25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
4    25/07/2024 03:22 25/07/2024 03:58 1.72188e+12         1.72188e+12
5    25/05/2024 16:01 25/05/2024 16:12 1.71665e+12         1.71665e+12
6    23/06/2024 15:08 23/06/2024 17:10 1.71916e+12         1.71916e+12
7    15/04/2024 07:12 15/04/2024 07:21 1.71317e+12         1.71317e+12
8    21/09/2024 02:13 21/09/2024 02:30 1.72688e+12         1.72689e+12
9    21/06/2024 02:31 21/06/2024 02:49 1.71894e+12         1.71894e+12
10   16/05/2024 05:13 16/05/2024 05:52 1.71584e+12         1.71584e+12
11   03/07/2024 01:31 03/07/2024 01:35 1.71997e+12         1.71997e+12
12   30/07/2024 15:15 30/07/2024 15:43 1.72235e+12         1.72235e+12
13   24/08/2024 02:32 24/08/2024 03:12 1.72447e+12         1.72447e+12
14   18/08/2024 00:51 18/08/2024 03:15 1.72394e+12         1.72395e+12
15   23/05/2024 18:12 23/05/2024 18:22 1.71649e+12         1.71649e+12
16   11/07/2024 05:20 11/07/2024 05:57 1.72068e+12         1.72068e+12
17   01/08/2024 23:12 01/08/2024 23:23 1.72255e+12         1.72255e+12
18   08/08/2024 00:21 08/08/2024 01:35 1.72308e+12         1.72308e+12
19   03/06/2024 00:22 03/06/2024 00:33 1.71737e+12         1.71737e+12
20   31/07/2024 02:58 31/07/2024 03:21 1.72239e+12         1.72240e+12
21   04/07/2024 02:25 04/07/2024 04:05 1.72006e+12         1.72007e+12
22   07/05/2024 19:23 07/05/2024 19:34 1.71511e+12         1.71511e+12
23   27/06/2024 21:40 27/06/2024 21:48 1.71952e+12         1.71952e+12
24   30/05/2024 06:11 30/05/2024 06:57 1.71705e+12         1.71705e+12
25   26/07/2024 23:09 26/07/2024 23:16 1.72204e+12         1.72204e+12
26   09/07/2024 17:56 09/07/2024 18:02 1.72055e+12         1.72055e+12
27   04/05/2024 21:41 04/05/2024 21:50 1.71486e+12         1.71486e+12
28   26/06/2024 01:58 26/06/2024 03:35 1.71937e+12         1.71937e+12
29   30/06/2024 16:21 30/06/2024 20:32 1.71976e+12         1.71978e+12
30   22/08/2024 03:02 22/08/2024 03:49 1.72430e+12         1.72430e+12
⋮    ⋮                ⋮                ⋮                   ⋮
1506 08/06/2024 16:14 08/06/2024 20:25 1.71786e+12         1.71788e+12
1507 02/06/2024 15:18 02/06/2024 16:53 1.71734e+12         1.71735e+12
1508 22/05/2024 00:51 22/05/2024 01:22 1.71634e+12         1.71634e+12
1509 29/08/2024 03:42 29/08/2024 04:11 1.72490e+12         1.72490e+12
1510 03/08/2024 22:33 04/08/2024 00:51 1.72272e+12         1.72273e+12
1511 28/08/2024 19:00 28/08/2024 20:26 1.72487e+12         1.72488e+12
1512 18/08/2024 21:54 19/08/2024 02:09 1.72402e+12         1.72403e+12
1513 23/05/2024 20:04 23/05/2024 20:20 1.71649e+12         1.71650e+12
1514 22/07/2024 08:02 22/07/2024 08:07 1.72164e+12         1.72164e+12
1515 02/06/2024 01:17 02/06/2024 01:21 1.71729e+12         1.71729e+12
1516 29/04/2024 04:14 29/04/2024 05:34 1.71436e+12         1.71437e+12
1517 27/04/2024 04:05 27/04/2024 05:48 1.71419e+12         1.71420e+12
1518 30/07/2024 03:44 30/07/2024 03:54 1.72231e+12         1.72231e+12
1519 28/05/2024 03:58 28/05/2024 04:04 1.71687e+12         1.71687e+12
1520 27/08/2024 17:22 27/08/2024 17:31 1.72478e+12         1.72478e+12
1521 12/06/2024 23:13 12/06/2024 23:32 1.71823e+12         1.71824e+12
1522 10/09/2024 00:20 10/09/2024 04:34 1.72593e+12         1.72594e+12
1523 04/08/2024 04:29 04/08/2024 08:01 1.72275e+12         1.72276e+12
1524 09/08/2024 02:43 09/08/2024 03:14 1.72317e+12         1.72317e+12
1525 23/05/2024 18:51 23/05/2024 18:58 1.71649e+12         1.71649e+12
1526 25/06/2024 01:08 25/06/2024 02:18 1.71928e+12         1.71928e+12
1527 19/05/2024 15:05 19/05/2024 17:02 1.71613e+12         1.71614e+12
1528 05/07/2024 04:29 05/07/2024 04:45 1.72015e+12         1.72015e+12
1529 22/06/2024 02:30 22/06/2024 04:22 1.71902e+12         1.71903e+12
1530 28/08/2024 23:31 29/08/2024 00:15 1.72489e+12         1.72489e+12
1531 10/05/2024 23:01 10/05/2024 23:07 1.71538e+12         1.71538e+12
1532 01/07/2024 04:08 01/07/2024 04:19 1.71981e+12         1.71981e+12
1533 28/07/2024 15:36 28/07/2024 15:57 1.72218e+12         1.72218e+12
1534 25/07/2024 06:15 25/07/2024 06:22 1.72189e+12         1.72189e+12
1535 20/05/2024 02:26 20/05/2024 02:45 1.71617e+12         1.71617e+12

In [15]:
mean_age <- players_data |>
summarize(mean_age = mean(Age, na.rm = TRUE))
min_age <- players_data |>
summarize(min_age = min(Age, na.rm  = TRUE))
max_age <- players_data |>
summarize(max_age = max(Age, na.rm = TRUE))
mean_age
min_age
max_age

  mean_age
1 21.13918

  min_age
1 9

  max_age
1 58

In [8]:
prop_gender <- players_data |>
count(gender) |>
mutate(prop = n / sum(n) * 100)
prop_gender

  gender            n   prop
1 Agender             2  1.0204082
2 Female             37 18.8775510
3 Male              124 63.2653061
4 Non-binary         15  7.6530612
5 Other               1  0.5102041
6 Prefer not to say  11  5.6122449
7 Two-Spirited        6  3.0612245

In [11]:
mean_hours <- players_data |>
summarize(mean_hours = mean(played_hours, na.rm = TRUE))
min_hours <- players_data |>
summarize(min_hours = min(played_hours, na.rm  = TRUE))
max_hours <- players_data |>
summarize(max_hours = max(played_hours, na.rm = TRUE))
mean_hours
min_hours
max_hours

  mean_hours
1 5.845918

  min_hours
1 0

  max_hours
1 223.1